# Q1

List the basic data types in python and give one example each.

- String: "Zion"

- Integer: 1

- Float: 3.124

- Boolean: True

- Complex number: 2i + 5j

# Q2

Change the variable x = 4539.85 to a string and assign it to a new variable y. An integer assign it to a new variable z. Print out the type of y and z using the type function.

In [4]:
x = 4539.85
y = str(x)
z = int(x)

print(type(y))
print(type(z))

<class 'str'>
<class 'int'>

# Q3

What data type would you use to store  

a. the price of car?

b. the age of a person

c. car plate number: plateNumber = "AV01-AFP"?

- The price of car: Float
- The age of a person: Integer
- Car plate number: String

# Q4

Split the statement below into two statement_1 and statement_2 such that statement_1 will be ' Thomas Partey is arguably the best player in the Black Stars' and statement_2 will be 'He is a great addition to the team'

In [19]:
statement = 'Thomas Partey is arguably the best player in the Black Stars,He is a great addition to the team'

statement_1, statement_2 = statement.split(sep=",")

print(statement_1)

print(statement_2)

Thomas Partey is arguably the best player in the Black Stars
He is a great addition to the team

# Q5

what values does python use to represent True and False respectively?

True: 1

False: 0

# Q6

write a code to evaluate if the following statments are True or False.

1. 78 is greater than 46 and less than 30

2. is 8 + 5 equals to 8-2 

3. The number of characters in the word 'boostrap' is 7 and that of 'sample' is 6.

In [32]:
(78 > 46) and (78 < 30)

False

In [31]:
(8 + 5) == (8 - 2)

False

In [11]:
len('boostrap') == 7 and len('sample') == 6

False

# Q7

Given the following python code, write an expression to return 'How'

In [18]:
word='Hello. How are you?'

In [20]:
print(word[7:10])

How

# Q8

What is the right way to create a string for Ault'Kelly

In [21]:
new_string = "Ault'Kelly"

print(new_string)

Ault'Kelly

# Q9

What data type would you use to store the price of a CD?

- Float

# Q10

How would you print out the following variable in all upper case in Python?

In [24]:
greet = 'Hello Bob'

In [25]:
print(greet.upper())

HELLO BOB

# Q11

Unpack the following collections to variable and print out each of the variable:

In [26]:
fruits = ['apple','pineapple','grape','watermelon']

In [27]:
apple, pineapple, grape, watermelon = fruits

print(apple)
print(pineapple)
print(grape)
print(watermelon)

apple
pineapple
grape
watermelon

# Q12

Can a string character be concatenated with a float or integer(If yes or no give a brief explanation)

- Yes by using string formatting

# Q13

What type of datatype does using the input() function automatically produce?

- String